* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	scroll-behavior: smooth;
}

/*START OF NAVBAR*/
.navbar {
	background-color: #455054;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: white;

}

.logo {
	height: 3rem;
	width: auto;

}
/* END OF NAVBAR */



/* HEADER */
#jumbo-landing {
	background: 
	/*top, transparent*/
	linear-gradient(
        rgba(0, 0, 0.5, -6),
        rgba(0, 0.5, 0.9, 0.6)
	     ),
	/*bottom, image*/
	url(../images/bg8.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	padding-top: 14%;
}

.header-title {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 6rem;
	opacity: 1;
	width: 100%;
	font-weight: 800;
	text-transform: uppercase;
}


#sub-title {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
	text-transform: uppercase;
	opacity: 1;
	font-weight: 800;
}

.btn a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-weight: 500;
}

.btn:hover {
	transform: scale(1.1);
	transition: .5s;
}

#headerbtn {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	color: black;
}

/* END OF HEADER */

/*START OF MAIN CARDS*/


#trainings {
	/*background: 
	linear-gradient(
        rgba(0, 0, 0.5, -5),
        rgba(0, 0.5, 0.9, 0.6)
	     ),
	url(../images/bg9.jpg);*/
	background-color: #354f52;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;

}

.card {
	width: 18rem;
	background-color: #feeafa;
	
}

.card h5 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 1.2rem;
	color: gray;
}

.card p {
	font-family: 'Montserrat', sans-serif;
	font-size: .9rem;
	color: black;
}

.card a:hover {
	transform: scale(1.1);
	transition: .5s;
}


/*end of main cards*/

/*---------------FOOTER ---------------*/
footer {
	background-color: #455054;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}









/* ---------------DRIBBLE CSS -----------------*/

/*start of carousel*/
#carouselExampleIndicators {
	height: 100vh;
	width: auto;
	

}

.carousel-item img {
	height: 100vh;
	width: 100vw; 
}

#dribble {
	background-color: #354f52; 

}

#card-dribble {
	background-color: #feeafa;
}

#dribble h5 {
	text-transform: uppercase;
	font-size: 1.3rem;
	font-family: 'Raleway', sans-serif;
	color: gray;
}

#dribble p {
	font-family: 'Montserrat', sans-serif;
	font-size: .9rem;
	color: black;

}

#dribble li {
	font-family: 'Montserrat', sans-serif;
	font-size: .9rem;
	color: black;
	padding-bottom: 1rem;
}

#dribble img {
	height: 13rem;
	width: auto;
}


/*end of carousel*/

/*----------------END OF DRIBBLE PAGE ------------*/


/*-----------SHOOTING PAGE --------------*/

#shooting {
	background-color: #354f52;

}

#card-shooting {
	background-color: #feeafa;
}

#shooting h5 {
	font-size: 1.3rem;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	color: gray;
}

#shooting p {
	font-family: 'Montserrat', sans-serif;
	font-size: .9rem;
	color: black;
}

#shooting li {
	font-family: 'Montserrat', sans-serif;
	font-size: .9rem;
	color: black;
	padding-bottom: 1rem;
}

#shooting img {
	height: 13rem;
	width: auto;
}


.modal-body h5{
	font-family: 'Montserrat', sans-serif;
	font-size: .9rem;
	color: black;

}

/*-------END OF SHOOTING PAGE------------------*/

/*-----------------CONDITION PAGE -----------------------*/
#condition {
	width: 100%;
	background-color: #354f52;

}

#card-condition {
	background-color: #feeafa;
}

#condition h5 {
	font-size: 1.3rem;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	color: gray;
}

#condition p {
	font-family: 'Montserrat', sans-serif;
	font-size: .9rem;
	color: black;
}

#condition li {
	font-family: 'Montserrat', sans-serif;
	font-size: .9rem;
	color: black;
	padding-bottom: 1rem;
}

#condition img {
	height: 13rem;
	width: auto;
}


.modal-body {
	font-family: 'Montserrat', sans-serif;
	font-size: .9rem;
	color: black;

}







/*-------------------------ABOUT PAGE ----------------------------------*/

.main-about-container {
	min-height: 100vh;
	background-color: #354f52;

}

.main-about-container h1 {
	color: white;
	padding-top: 3rem;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
	text-align: center;
	font-weight: 900;
}

.about-container {
	padding-bottom: 5rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.about {
	padding-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	text-align: left;
	align-items: center;
	justify-content: center;
	
}

.about img {
	height: 20rem;
	width: auto;
	box-shadow: 2px 2px 3px 1px black;
}


.about-info {
	width: 50%;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: justify;
}

.about-info h5 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.3rem;
	font-weight: 900;
	text-transform: uppercase;
	color: white;
	
}

.about p {
	font-family: 'Montserrat', sans-serif;
	font-size: .9rem;
	color: white;
	width: 90%;

}

/*---------------------------END OF ABOUT---------------------*/


/*--------------------GALLERY PAGE -------------------------------*/

#gallery {
	min-height: 100vh;
	background-color: #354f52; 
}

#gallery h1 {
	color: white;
	padding-top: .5rem;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
	text-align: center;
	font-weight: 900;
}

#gallery img {
	height: 13rem;
	width: 100%;
}

#gallery img:hover {
	transform: scale(1.1);
	transition: .5s;
}







/*------- END OF GALLERY PAGE ------------------------------*/

/*------------------CONTACT PAGE ---------------------------*/
#contact-page {
	min-height: 100vh;
	background: 
	linear-gradient(
        rgba(3, 5, 7, -6),
        rgba(0, 0.5, 0.9, 0.6)
	     ),
	url(../images/bg8.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

#contact-page h1 {
	font-size: 2rem;
	font-family: 'Raleway', sans-serif;
	color: white;
	text-transform: uppercase;
	font-weight: 900;
}

#contact-page label {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}

#maps {
	height: 20rem;
	width: 100%;
	opacity: .8;
}









/*----------END OF CONTACT PAGE --------------------------*/

/*tablet */
@media only screen and (min-width: 501px) and (max-width: 960px){

	#jumbo-landing {
		padding-top: 15rem;
	}

	.header-title {
		font-size: 4rem;
	}

	#sub-title {
		font-size: 1rem;
	}

	span {
		display: none;
	}

	.card {
		width: 80%;
	}

	.card-body {
		width: 100%;
		padding: 1rem;
		text-align: left;
		
	}

	.card h5 {
		font-size: 1.1rem;
		width: 100%;
		
		
	}

	.card p {
		font-size: .9rem;

	}

	.card a {
		
		font-size: 1rem;
	}

	



	/*----------------ABOUT US -----------------------*/
	.about {
		padding-top: 1rem;
		margin-bottom: 1rem;
		

	}

	.about-info {
		width: 100%;
	}

	.about img {
		height: 13rem;
		width: auto;
		text-align: center;
	}

	.about-info {
		width: 50%;
		padding-left: 1rem;
		padding-right: 1rem;

	}

	.about h5 {
		font-family: 'Raleway', sans-serif;
		font-size: 1.5rem;
		font-weight: 900;
	}

	.about p {
		font-family: 'Montserrat', sans-serif;
		font-size: .9rem;
		color: white;


	}

	#about-img1 {
		order: 1;
	}

	#about-info2 {
		order: 2;
	}

	/*-----------SHOOTING PAGE----------*/
	#shooting h5 {
		text-transform: uppercase;
		font-size: 1.5rem;
		font-family: 'Raleway', sans-serif;
		color: black;
	}

	#shooting p {
		font-family: 'Montserrat', sans-serif;
		font-size: .9rem;
		color: black;
	}
}



@media only screen and (max-width: 500px) {

	#jumbo-landing {
		padding-top: 15rem;
	}

	.header-title {
		font-size: 2.7rem;
	}

	#sub-title {
		font-size: 1rem;
	}

	#headerbtn {

	}

	span {
		display: none;
	}


	/*----------------ABOUT US -----------------------*/
	.about {
		flex-direction: column;
		padding-top: 1rem;
		margin-bottom: 1rem;
		

	}

	.about-info {
		width: 100%;
	}

	.about img {
		height: 12rem;
		width: auto;
		text-align: center;
	}

	.about-info {
		width: 100%;
	}

	.about h5 {
		font-family: 'Raleway', sans-serif;
		font-size: 1.5rem;
		font-weight: 900;
	}

	.about p {
		font-family: 'Montserrat', sans-serif;
		font-size: .9rem;
		color: white;

	}

	#about-img1 {
		order: 2;
	}

	#about-info2 {
		order: 1;
	}

	.card {
		width: 80%;
	}

	#shooting h5 {
		font-size: 1.5rem;
		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		color: black;
		font-weight: 600;
	}

	#shooting p {
		font-family: 'Montserrat', sans-serif;
		font-size: .9rem;
		color: black;
	}

	/*----GALLERY----------*/
	#gallery h1 {
		color: white;
		padding-top: .5rem;
		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-size: 1.5rem;
		text-align: center;
		font-weight: 900;
	}

}








